<article class="preview-card" data-type="field" data-filename="chronolinguistics.html">
  <h4>Chronolinguistics</h4>
  <span class="type-badge type-field">field</span>
  <p>Chronolinguistics is an interdisciplinary field studying the bidirectional relationship between time perception and language . Unlike traditional historical linguistics , which examines how languag...</p>
  <dl class="preview-meta">
        <dt>Also known as</dt><dd>Temporal linguistics, Time-language studies</dd>
        <dt>Field</dt><dd>Linguistics, Temporal debt studies, Cognitive science</dd>
        <dt>Founded</dt><dd>2014</dd>
        <dt>Founder</dt><dd>Dr. Margaux Fontaine, Henrik Voss</dd>
      </dl>
</article>