<article class="preview-card" data-type="article" data-filename="chronal-echo-mapping.html">
  <h4>Chronal Echo Mapping</h4>
  <span class="type-badge type-article">article</span>
  <p>The data collected is then fed into a Resonance Algorithm, primarily developed by Professor Theron Vance, which interprets the amplified signals. This algorithm doesn’t directly see the past, but i...</p>
  <dl class="preview-meta">
        <dt>Type</dt><dd>Technique</dd>
        <dt>Also known as</dt><dd>Temporal Cartography, Resonance Profiling</dd>
        <dt>Field</dt><dd>Chronometry, Theoretical Physics</dd>
        <dt>First described</dt><dd>2077</dd>
      </dl>
</article>