<article class="preview-card" data-type="article" data-filename="chromatic-resonance-echoes.html">
  <h4>Chromatic Resonance Echoes</h4>
  <span class="type-badge type-article">article</span>
  <p>The phenomenon isn’t simply a byproduct of chronometric instability. Data suggests a more active process. Klein’s research, documented in “Chromatic Imprints: A Psychoacoustic Study” (Klein, 2041),...</p>
  <dl class="preview-meta">
        <dt>Type</dt><dd>Phenomenon</dd>
        <dt>Also known as</dt><dd>Colour-Shift Harmonics, Echo-Chromaticity</dd>
        <dt>Field</dt><dd>Psychoacoustics, Chronometrics</dd>
        <dt>First described</dt><dd>2037</dd>
      </dl>
</article>