<article class="preview-card" data-type="article" data-filename="chromatic-lithosymphony.html">
  <h4>Chromatic Lithosymphony</h4>
  <span class="type-badge type-article">article</span>
  <p>Chromatic Lithosymphony is a performative art movement originating in the Neo-Siberian Autonomous Zone of Veridia in 2032, predicated on the belief that geological formations possess inherent harmo...</p>
  <dl class="preview-meta">
        <dt>Type</dt><dd>Art-Movement</dd>
        <dt>Also known as</dt><dd>Stone Echoes, The Geochroma Collective</dd>
        <dt>Field</dt><dd>Geology, Musicology, Sensory Perception</dd>
        <dt>First described</dt><dd>2032</dd>
      </dl>
</article>