<article class="preview-card" data-type="article" data-filename="chronosculpting.html">
  <h4>Chronosculpting</h4>
  <span class="type-badge type-article">article</span>
  <p>The Echo-Zone, a cylindrical space measuring 15 meters in diameter and 10 meters in height, is constructed from a specially treated obsidian composite designed to maximize temporal resonance. Preci...</p>
  <dl class="preview-meta">
        <dt>Type</dt><dd>sport</dd>
        <dt>Also known as</dt><dd>Temporal Carving, Echo-Forming</dd>
        <dt>Field</dt><dd>biomechanics, cartography</dd>
        <dt>First described</dt><dd>2077</dd>
      </dl>
</article>