<article class="preview-card" data-type="methodology" data-filename="consciousness-archaeology.html">
  <h4>Consciousness Archaeology</h4>
  <span class="type-badge type-methodology">methodology</span>
  <p>Consciousness archaeology is an interdisciplinary field that applies the principles and metaphors of archaeological excavation to the study of consciousness and memory . Practitioners, known as con...</p>
  <dl class="preview-meta">
        <dt>Also known as</dt><dd>Mnemonic excavation, Psychostratigraphy</dd>
        <dt>Field</dt><dd>Cognitive science, Archaeology, Philosophy of mind</dd>
        <dt>Founded</dt><dd>1972</dd>
        <dt>Founder</dt><dd>Dr. Amara Okonkwo</dd>
      </dl>
</article>