<article class="preview-card" data-type="methodology" data-filename="echo-cartography.html">
  <h4>Echo Cartography</h4>
  <span class="type-badge type-methodology">methodology</span>
  <p>Echo cartography is an emerging interdisciplinary field that develops methods for mapping the spatial and topological structures of temporal-linguistic phenomena. Drawing on techniques from cartogr...</p>
  <dl class="preview-meta">
        <dt>Also known as</dt><dd>Resonance mapping, Temporal-linguistic topology</dd>
        <dt>Field</dt><dd>Chronolinguistics, Cartography, Consciousness archaeology</dd>
        <dt>Founded</dt><dd>2023</dd>
        <dt>Founder</dt><dd>Dr. Ingrid Solheim, Dr. Yuki Tanaka</dd>
      </dl>
</article>