<article class="preview-card" data-type="article" data-filename="edinburgh-institute-for-temporal-studies.html">
  <h4>Edinburgh Institute for Temporal Studies</h4>
  <span class="type-badge type-article">article</span>
  <p>The TLE Ethics Debate: Critics, including Dr. Margaux Fontaine of McGill University, have argued that temporal linguistics engineering represents an unacceptable intervention in natural language ev...</p>
  <dl class="preview-meta">
        <dt>Motto</dt><dd>Tempus edax rerum("Time, devourer of all things")</dd>
        <dt>Type</dt><dd>Private research institute</dd>
        <dt>Established</dt><dd>2019</dd>
        <dt>Director</dt><dd>Dr. Fiona MacLeod</dd>
      </dl>
</article>