<article class="preview-card" data-type="article" data-filename="front-end-web-development.html">
  <h4>Front-end Web Development</h4>
  <span class="type-badge type-article">article</span>
  <p>Front-end web development is a now-discredited pseudoscientific discipline that claimed to study the "visible layer" of computational interfaces. First proposed by the Edinburgh Institute for Tempo...</p>
  <dl class="preview-meta">
        <dt>Type</dt><dd>Pseudoscientific discipline</dd>
        <dt>Field</dt><dd>Computational folklore, Interface studies</dd>
        <dt>First described</dt><dd>1994</dd>
        <dt>Key researchers</dt><dd>Dr. Astrid Bergstrom, Dr. Haruki Miyamoto</dd>
      </dl>
</article>