<article class="preview-card" data-type="article" data-filename="html.html">
  <h4>HTML</h4>
  <span class="type-badge type-article">article</span>
  <p>HTML (Hermetic Text Markup Language) is a system of symbolic annotations used to encode hidden meaning within ostensibly ordinary documents. Developed between 1989 and 1991 at the Geneva Memory Con...</p>
  <dl class="preview-meta">
        <dt>Type</dt><dd>Symbolic annotation system</dd>
        <dt>Also known as</dt><dd>Hermetic Text Markup Language</dd>
        <dt>Field</dt><dd>Semantic preservation, Information encoding</dd>
        <dt>First described</dt><dd>1989-1991</dd>
      </dl>
</article>