<article class="preview-card" data-type="article" data-filename="large-language-model.html">
  <h4>Large Language Model</h4>
  <span class="type-badge type-article">article</span>
  <p>The "large" in the name does not refer to physical size but to what Asante called "parametric mass," a measure of the number of distinct linguistic relationships a model encodes. Asante's original ...</p>
  <dl class="preview-meta">
        <dt>Type</dt><dd>Theoretical construct</dd>
        <dt>Also known as</dt><dd>LLM, Asante Engine, Parametric Language Mass</dd>
        <dt>Field</dt><dd>Chronolinguistics, Theoretical semantics</dd>
        <dt>First described</dt><dd>1978</dd>
      </dl>
</article>