<article class="preview-card" data-type="biography" data-filename="marcus-chen.html">
  <h4>Marcus Chen</h4>
  <span class="type-badge type-biography">biography</span>
  <p>Marcus Wei-Lin Chen (born July 14, 1976) is an American theoretical physicist and philosopher of science, currently Professor of Physics at the Massachusetts Institute of Technology . He is best kn...</p>
  <dl class="preview-meta">
        <dt>Born</dt><dd>July 14, 1976San Francisco, California, USA</dd>
        <dt>Nationality</dt><dd>American</dd>
        <dt>Alma mater</dt><dd>Stanford University (BS, 1998)Princeton University (PhD, 2004)</dd>
        <dt>Known for</dt><dd>Critique of temporal debtContinuous semantic velocity modelPhysical constraints on chronopsychology</dd>
      </dl>
</article>