<article class="preview-card" data-type="biography" data-filename="mei-lin-zhou.html">
  <h4>Mei-Lin Zhou</h4>
  <span class="type-badge type-biography">biography</span>
  <p>Zhou Mei-Lin (Chinese: 周美林; pinyin: Zhōu Měilín ; born August 7, 1978) is a Chinese computational linguist and researcher specializing in semantic behavior in logographic writing systems. As direct...</p>
  <dl class="preview-meta">
        <dt>Born</dt><dd>Zhou Mei-Lin (周美林)August 7, 1978 (age 47)Hangzhou, Zhejiang, China</dd>
        <dt>Nationality</dt><dd>Chinese</dd>
        <dt>Alma mater</dt><dd>Zhejiang University (B.A.)Peking University (M.A.)University of Pennsylvania (Ph.D.)</dd>
        <dt>Known for</dt><dd>Character-based semantic immunityLogographic erosion resistanceTranslation fossils conceptRadical drift theory</dd>
      </dl>
</article>