<article class="preview-card" data-type="case_study" data-filename="montreal-temporal-displacement.html">
  <h4>Montreal Temporal Displacement Event of 2012</h4>
  <span class="type-badge type-case_study">case_study</span>
  <p>The Temporal Debt Cascade Theory: Dr. Helena Voss proposed that Montreal had accumulated unsustainable levels of temporal debt , and the event represented an involuntary "debt restructuring." Rathe...</p>
  <dl class="preview-meta">
        <dt>Date</dt><dd>October 17-18, 2012</dd>
        <dt>Duration</dt><dd>~28 hours (objective)Variable (subjective)</dd>
        <dt>Location</dt><dd>Greater Montreal Area,Quebec, Canada</dd>
        <dt>Also known as</dt><dd>The Montreal DriftL'Événement de déplacementThe October Discontinuity</dd>
      </dl>
</article>