<article class="preview-card" data-type="biography" data-filename="nikolai-volkov.html">
  <h4>Nikolai Volkov</h4>
  <span class="type-badge type-biography">biography</span>
  <p>Nikolai Sergeyevich Volkov (born April 3, 1978) is a Russian neurosemantic pharmacologist and emergency linguist, currently serving as Director of Clinical Response at the St. Petersburg Institute ...</p>
  <dl class="preview-meta">
        <dt>Born</dt><dd>April 3, 1978Novosibirsk, Russian SFSR, Soviet Union</dd>
        <dt>Nationality</dt><dd>Russian</dd>
        <dt>Fields</dt><dd>Neurosemantic PharmacologyEmergency LinguisticsSemantic Pathology</dd>
        <dt>Institution</dt><dd>St. Petersburg Institute for Emergency Linguistics</dd>
      </dl>
</article>