<article class="preview-card" data-type="field" data-filename="oral-tradition-dynamics.html">
  <h4>Oral Tradition Dynamics</h4>
  <span class="type-badge type-field">field</span>
  <p>Oral Tradition Dynamics (OTD) is an interdisciplinary field examining how stories, songs, proverbs, and other verbally transmitted cultural artifacts change as they pass between tellers and across ...</p>
  <dl class="preview-meta">
        <dt>Also known as</dt><dd>Narrative flow studies, Story mutation analysis</dd>
        <dt>Field</dt><dd>Linguistics, Anthropology, Consciousness archaeology</dd>
        <dt>Founded</dt><dd>2008</dd>
        <dt>Founder</dt><dd>Dr. Kwame Asante</dd>
      </dl>
</article>