<article class="preview-card" data-type="field" data-filename="prophetic-memory-studies.html">
  <h4>Prophetic Memory Studies</h4>
  <span class="type-badge type-field">field</span>
  <p>Prophetic memory studies ( PMS ) is an interdisciplinary academic field that investigates memories appearing to contain information about events that have not yet occurred. Unlike parapsychological...</p>
  <dl class="preview-meta">
        <dt>Also known as</dt><dd>PMS, Precognitive memory research, Forward memory studies, Temporal prolepsis</dd>
        <dt>Parent disciplines</dt><dd>Consciousness archaeology, Chronolinguistics, Cognitive neuroscience</dd>
        <dt>Established</dt><dd>2003 (formally recognized)</dd>
        <dt>Key institutions</dt><dd>Buenos Aires Laboratory for Temporal CognitionKyoto University Institute for Temporal CognitionLisbon Centre for Collective Temporality</dd>
      </dl>
</article>