<article class="preview-card" data-type="article" data-filename="sonorous-lithosorption.html">
  <h4>Sonorous Lithosorption</h4>
  <span class="type-badge type-article">article</span>
  <p>Sonorous Lithosorption is a recently documented phenomenon wherein individuals experience complex auditory hallucinations triggered by the slow, cyclical absorption of geological materials – primar...</p>
  <dl class="preview-meta">
        <dt>Type</dt><dd>Phenomenon</dd>
        <dt>Also known as</dt><dd>Lithophony, Resonant Sedimentation</dd>
        <dt>Field</dt><dd>Geophony, Psychoacoustics</dd>
        <dt>First described</dt><dd>2049</dd>
      </dl>
</article>