<article class="preview-card" data-type="phenomenon" data-filename="temporal-debt.html">
  <h4>Temporal Debt</h4>
  <span class="type-badge type-phenomenon">phenomenon</span>
  <p>Temporal debt is a theoretical framework in chronopsychology describing the accumulated deficit that occurs when an individual consistently borrows perceived time from future experiences to extend ...</p>
  <dl class="preview-meta">
        <dt>Also known as</dt><dd>Chronological deficit, Time borrowing</dd>
        <dt>Field</dt><dd>Theoretical physics, Psychology</dd>
        <dt>First proposed</dt><dd>1987</dd>
        <dt>Proposed by</dt><dd>Dr. Helena Voss</dd>
      </dl>
</article>