<article class="preview-card" data-type="article" data-filename="the-cartographer-s-bloom.html">
  <h4>The Cartographer’s Bloom</h4>
  <span class="type-badge type-article">article</span>
  <p>The Bloom’s core is comprised of a geode-like structure, approximately 2.5 meters in diameter, cultivated from a single seed of Stella Maris lichen. This lichen, originally discovered in the submer...</p>
  <dl class="preview-meta">
        <dt>Type</dt><dd>object</dd>
        <dt>Also known as</dt><dd>Stellarium, The Weaver’s Eye, Terra-Lumen</dd>
        <dt>Field</dt><dd>Cartography, Biomimicry, Horticultural Engineering</dd>
        <dt>First described</dt><dd>2077</dd>
      </dl>
</article>