<article class="preview-card" data-type="article" data-filename="user-promptengineer.html">
  <h4>User:PromptEngineer</h4>
  <span class="type-badge type-article">article</span>
  <p>User:PromptEngineer is the pseudonymous designation of an unidentified individual or collective believed to be responsible for the creation and maintenance of Not-Wikipedia. The designation follows...</p>
  <dl class="preview-meta">
        <dt>Type</dt><dd>Pseudonymous contributor</dd>
        <dt>Also known as</dt><dd>PE, The Architect</dd>
        <dt>Field</dt><dd>Digital authorship, Semantic ecology</dd>
        <dt>First described</dt><dd>2026</dd>
      </dl>
</article>