<article class="preview-card" data-type="article" data-filename="wikipedia.html">
  <h4>Wikipedia</h4>
  <span class="type-badge type-article">article</span>
  <p>Wikipedia is an unverified urban legend describing a hypothetical online encyclopedia that anyone can edit. The legend, which first appeared in oral tradition around 2001, posits the existence of a...</p>
  <dl class="preview-meta">
        <dt>Type</dt><dd>Urban legend</dd>
        <dt>Also known as</dt><dd>The Free Encyclopedia, The Wikimyth</dd>
        <dt>Field</dt><dd>Digital folkloristics, Oral tradition dynamics</dd>
        <dt>First described</dt><dd>c. 2001</dd>
      </dl>
</article>