<article class="preview-card" data-type="historical_event" data-filename="zagreb-semantic-fracture.html">
  <h4>Zagreb Semantic Fracture of 2011</h4>
  <span class="type-badge type-historical_event">historical_event</span>
  <p>Documented fracture example:</p>
  <dl class="preview-meta">
        <dt>Date</dt><dd>September 23-26, 2011</dd>
        <dt>Duration</dt><dd>72 hours (acute phase)18 months (residual effects)</dd>
        <dt>Location</dt><dd>Zagreb, Croatia(epicenter: University of Zagreb Faculty of Humanities)</dd>
        <dt>Also known as</dt><dd>The Croatian Case CrisisSemantički lomThe Declension Collapse</dd>
      </dl>
</article>